docker {
    enabled = true
    remove  = true
}

process {
    executor="pbspro"
    queue = 'fuer'
    errorStrategy='retry'
    maxRetries=3

}

params{

i               = "./data"
o               = "./analysis"
d               = "./"

//panel region                     panel_type 1: tumor_wes  2:germline_wes  panel 3: tumor_wgs 4:germline_wgs
project_type    = "2"
//tumor-Normal or only_tumor       1: only one 2: germline + parents 
groups_type     = "2"                          

//ill                              1: not ill    2:ill
father          = "Expooling00738-GEB010866E"
f_ill           = "1"
mother          = "Expooling00738-GEB010867E"
m_ill           = "1"
kid             = "Expooling00738-GEB010865E"
//sex                              1: man        2: woman
kid_sex         = "1"
kid_ill         = "2"

// 1: run UMI_seq     !=1 : standard_seq
UMI             = "0"

//DB
fa              = "/fuer2/02.Database/01.Database_project/hg19/hg19.fa"
ref_dict        = "/fuer2/02.Database/01.Database_project/hg19/hg19.dict"  
target_bed1     = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/bed/wes_bed/xgen-exome-research-panel-probes.merge.bed"
expand_bed1     = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/bed/wes_bed/xgen-exome-research-panel-probes.merge.extend500.bed"
target_bed2     = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/bed/wes_bed/NEXome_Plus_Panel.target.hg19.bed"
expand_bed2     = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/bed/wes_bed/NEXome_Plus_Panel.target.hg19.extand500.bed"
list            = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/bed/chr_parts"

//QC
qc_cpu          = "8"
clean_rate      = "60"
fastp           = "/fuer2/home/whhe/miniconda3/bin/fastp"
adapter    = "/fuer2/01.software/2.fastp/adapters/TruSeq3-PE-2.fa"
fastp_stat      = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/fastp.log2tab.py"
check_cleanR    = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/tab_checkCleanRate.pl"

//dep_cov        
count_dep       = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/count_depth.py"
map_stat        = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/get_data_quality.pl"
dep_cov_stat    = "/fuer2/02.pipeline/13.ST_DNA/script/dep_cov_stat.pl"
qc_stat         = "/fuer2/02.pipeline/13.ST_DNA/script/qc_stat.py"
hg19_gene_bed   = "/fuer2/02.pipeline/13.ST_DNA/script/hg19.gene.bed"

//Map
mapping_cpu     = "8"
samtools        = "/fuer1/home/qyzuo/biosoft/Bin/bin/samtools"
bedtools        = "/fuer2/home/whhe/bash_command/bedtools"
sambamba        = "/fuer2/home/whhe/bash_command/sambamba"
bwa             = "/fuer1/home/qyzuo/biosoft/Bin/bin/bwa"

//UMI
UMI_cpu         = "8"
picard          = "/fuer2/Work/hewh/project/tumor_RNA/soft/gatk/picard.jar"
fgbio           = "/fuer2/03.Soft/01.Soft_project/fgbio_1.4.0/fgbio-1.4.0.jar"

//SNV
HC_cpu          = "2"
scatter_count   = "0"
gatk            = "/fuer2/03.Soft/01.Soft_project/gatk-4.2.0.0/gatk"
gnomad          = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/af-only-gnomad.raw.sites.vcf"
pon_vcf         = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/PON/Mutect2-exome-panel.vcf.gz"
small_exac      = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/small_exac_common_3.vcf"
dbsnp138        = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/dbsnp_138.b37.vcf"
mills           = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/Mills_and_1000G_gold_standard.indels.b37.vcf"
hapmap          = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/hapmap_3.3_b37_pop_stratified_af.vcf"
G1000_omni      = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/1000G_omni2.5.b37.vcf"
G1000_phase1    = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/1000G_phase1.snps.high_confidence.b37.vcf"
dbsnp_138       = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/dbsnp_138.b37.vcf"
indel_phase1    = "/fuer2/02.Database/01.Database_project/GATK_bundle/b37/1000G_phase1.indels.b37.vcf"
normal_pt       = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/PON/Control.pileups.table"

//Anno
anno_cpu        = "2"
convert2annovar = "/fuer2/03.Soft/01.Soft_project/annovar/convert2annovar.pl"
table_annovar   = "/fuer2/03.Soft/01.Soft_project/annovar/table_annovar.pl"
anno_db         = "/fuer2/02.pipeline/13.ST_DNA/database/02.annovar"
filter_ch       = "/fuer3/jqliu/01.project/01.2021/40.germline_trio_wes/bin/filter_clinvar_hgmd.pl"

//trio          
exomiser        = "/fuer2/03.Soft/01.Soft_project/exomiser_v13.0/exomiser-cli-13.0.1/exomiser-cli-13.0.1.jar"
exomiser_cfg    = "/fuer2/03.Soft/01.Soft_project/exomiser_v13.0/exomiser-cli-13.0.1/analysis-exome.yml"
application     = "/fuer2/03.Soft/01.Soft_project/exomiser_v13.0/exomiser-cli-13.0.1/application.properties"
vcf_rmchr       = "/fuer3/jqliu/03.script/02.analysis/vcf_rmchr.pl"

//SV
sv_cpu          = "4"
manta           = "/fuer2/Work/hewh/project/ST_DNA/soft/manta/bin/configManta.py"
convert         = "/fuer2/Work/hewh/project/ST_DNA/soft/manta/libexec/convertInversion.py"

svaba           = "/fuer3/qyzou/Software/App/svaba/bin/svaba"
sv2vcf          = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/SV2CVF.pl"
anno_var        = "/fuer2/Work/hewh/project/tumor_RNA/soft/annovar-20170717/annotate_variation.pl"
humandb2        = "/fuer3/qyzou/DataBase/humandb2/"
get_sv          = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/get_result2.pl"

//Fusion
fusion_cpu      = "4"
genefuse        = "/fuer2/03.Soft/01.Soft_project/GeneFuse-0.6.1/genefuse"
genes           = "/fuer2/03.Soft/01.Soft_project/GeneFuse-0.6.1/genes/cancer.hg19.csv"

factera         = "/fuer2/03.Soft/01.Soft_project/factera-v1.4.4/factera.pl"
exons_bed       = "/fuer2/03.Soft/01.Soft_project/factera-v1.4.4/exons.bed"
factera_fa      = "/fuer2/03.Soft/01.Soft_project/factera-v1.4.4/hg19.fa.2bit"
fusion_vaf      = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/calc_fusion_vaf.py"
Pon_fusion      = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/PON/fusion_gene.new.txt"

//CNV
cnv_cpu         = "8"
cnvkit          = "/fuer2/03.Soft/01.Soft_project/cnvkit-0.9.9/cnvkit.py"
cnv_anno        = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/refFlat.nochr.txt"
cnv_plot        = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/R/cnv_plot.R"
chr_center      = "/fuer2/02.Database/01.Database_project/hg19/hg19_chr_center.txt"
chr_pos         = "/fuer2/02.Database/01.Database_project/hg19/hg19.chr_pos.txt"
Pon_gene        = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/db/PON/cnv_gene.txt"

gene_cnv        = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/gene.call_cn.sh"
cnn             = "/fuer2/01.Pipeline/03.pipeline_test/whhe/09.wes/db/cnv/normal.reference.cnn"
cnvnator        = "/CNVnator/"

//plot
plot_cpu        = "2"
map_circos      = "/fuer2/01.Pipeline/03.pipeline_test/whhe/01.ST_DNA/scr/mapping_circos_DNA.pl"
circos_conf     = "/fuer2/03.Soft/01.Soft_project/circos-0.69-9/db/panel_circos/ST_DNA.circos.conf"
circos_conf2    = "/fuer2/03.Soft/01.Soft_project/circos-0.69-9/db/panel_circos/ST_DNA.large_panel.circos.conf"

//ITD            true or false
itd_run         = "false"

//send link
send            = "true"

//send bam
add_jbrowse     = "false"
bam_path        = "/fuer2/home/transdata/02.software/jbrowse/data/hg19/bam/"
send_jbrowse    = "/fuer2/02.pipeline/02.tumor_RNA/script/send_bam2jbrowse.sh"
config_path     = "/fuer2/home/transdata/02.software/jbrowse/data/hg19/tracks.conf"

}

